{% extends 'user_profile/layout.html' %}
{% block content %}
<div class="grid-25">
        nav here maybe?
    </div>
    <div class="grid-75">
        <h1>Welcome! {{object.first_name }} {{ object.last_name }}</h1>
       <p>
           <img src="{{ object.userprofile.avatar.url }}" alt="an image of a man standing and smiling holding cup" >
       </p>
        <p>
            first name: {{ object.first_name }}
        </p>
        <p>
            last name: {{ object.last_name }}
        </p>
        <p>
            email: {{ object.email }}
        </p>
        <p>
            birthday: {{ object.date_of_birth }}
        </p>
        <p>
            bio: {{ object.userprofile.bio }}
        </p>
    </div>
{% endblock %}