{% extends 'profiles/layout.html' %}
{% block content %}

    <div class="grid-75">
        <h1>Welcome! {{ object.created_by.first_name }} {{ object.created_by.last_name }}</h1>
        {% if object.userprofile.avatar %}
            <p>
                <img class="avatar" src="{{ object.userprofile.avatar.url }}"
                     alt="an image of a man standing and smiling holding cup">
            </p>
        {% endif %}
        <p>
            username: {{ object.username }}
        </p>
        <p>
            first name: {{ ogject.created_by.first_name }}
        </p>
        <p>
            last name: {{ object.created_by.last_name }}
        </p>
        <p>
            email: {{ object.created_by.email }}
        </p>
        <p>
            birthday: {{ object.created_by.date_of_birth }}
        </p>
        <p>
            bio: {{ object.bio }}
        </p>

        <p>
          skills: {% for skill in object.skills.all%}
            <ul>
                <li>
                    {{ skill.skill }}
                </li>
            </ul>
    {% endfor %}


</p>
        <button onclick="window.location.href = '{% url 'profiles:edit_profile' %}';">edit profile</button>
    </div>
{% endblock %}