{% extends 'base.html' %}
{% block content %}
    <div class="circle--actions--bar">
        <nav class="bounds">
            <ul class="circle--pill--list">
                <li><a href="{% url 'projects:applicants' %}">Applications</a></li>
                <li><a class="selected" href='{% url 'profiles:detail' pk=userprofile.id %}'>Profile</a></li>
            </ul>
        </nav>
    </div>

    <div class="bounds circle--page">
        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>Profile</h2>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                <a class="button icon-on-left" href="{% url 'profiles:edit_profile' %}">Edit</a>
            </div>
        </div>

        <div class="grid-70">
            <h1>{{ object.created_by.first_name }} {{ object.created_by.last_name }}</h1>


            <div class="circle--article--body">
                <p>
                    bio: {{ object.bio }}
                </p>

            </div>


            <h2>Projects Applied to </h2>
            <table class="u-full-width circle--table">
                <thead>
                <tr>
                    <th>Project Title</th>
                    <th class="circle--cell--right">position</th>
                    <th class="circle--cell--right">hired?</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions_applied %}
                    <tr class="clickable-row" data-href="{% url 'projects:detail' pk=position.position.project.id %}">
                        <td>
                            <h3>{{ position.position.project.title }}</h3>
                        </td>
                        <td class="circle--cell--right">
                            <span class="secondary-label">{{ position.position.title }}</span>
                        </td>
                        <td class="circle--cell--right">
                            {% if position.hired == True %}
                                <span class="secondary-label">Congratulations!! </span>
                            {% elif position.hired == False %}
                                <span class="secondary-label">Consolation puppy </span>
                            {% else %}
                                <span class="secondary-label">fingers crossed </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

        <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
                {% if object.avatar %}
                    <img class="circle--primary--avatar" src="{{ object.avatar.url }}"
                         alt="image of person who owns this profile">
                {% endif %}
            </div>

            <div class="circle--secondary--module">
                <h4>My Skills</h4>
                <ul class="unloaded">
                    {% for skill in object.skills.all %}
                        <li>
                            {{ skill.skill }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--secondary--module">
                <h4>My Projects</h4>
                <ul class="circle--link--list">
                    <li><a>figure out how to import projects to this template</a></li>
                    <li><a>Project 2</a></li>
                    <li><a>Project 3</a></li>
                    <li><a>Project 4</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}