{% extends 'base.html' %}
{% block content %}
    <div class="grid-25">
    {% include "proj_filter.html" %}
    </div>

    <div class="grid-70 grid-push-5">
        <table class="u-full-width circle--table">
            <thead>
            <tr>
                <th>Project Title</th>
                <th class="circle--cell--right">Project Needs</th>
            </tr>
            </thead>
            <tbody>
            {% for project in project_list %}
                <tr class="clickable-row" data-href="{% url 'projects:detail' pk=project.pk %}">
                    <td>
                        <h3>{{ project.title }}</h3>
                    </td>
                    <td class="circle--cell--right">
                        {% for position in project.position_set.all %}
                            <span class="secondary-label">{{ position.title }}</span>,
                        {% endfor %}
                    </td>
                </tr>

                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}
