{% load static %}

<div class="circle--filter circle--secondary--module">
    <h4>Project Needs</h4>
    <ul class="circle--filter--list">
        <li><a {% if position == title %} class="selected" {% endif %} href="{% url 'home' %}">All needs</a></li>

        {% for title in position_list %}
            <li><a {% if position == title %} class="selected" {% endif %}
                                              href="{% url 'filter' %}?position={{ title }}">{{ title }}</a></li>

        {% endfor %}
    </ul>
</div>


