{% extends 'accounts/layout.html' %}

{% block content %}
    <div>
        <h1>Congratulations {{ object.first_name  }} {{ object.last_name }}</h1>
        <p> you have successfully registered your account! <br>
            does everything look right? </p>
    </div>
    <div>
    <ul>
        <li>
            email: {{ object.email }}
        </li>
        <li>
            first name: {{ object.first_name }}
        </li>
        <li>
            last name: {{ object.last_name }}
        </li>
        <li>
            Birthday: {{ object.date_of_birth }}
        </li>
    </ul>
        <button onclick="window.location.href = '{% url 'accounts:edit_user' %}';"> edit acccount info</button>
        <button onclick="window.location.href = '{% url 'accounts:change_password' %}';"> change password</button>
        <button onclick="window.location.href = '{% url 'profiles:create_profile' %}">create profile</button>
    </div>

{% endblock %}