{% extends 'projects/layout.html' %}

{% block content %}
    <div class="circle--actions--bar">
        <div class="bounds">
            <div class="grid-100">
                <a id="save-project" class="button button-primary">Save Project</a>>
                <a class="button button-text" href="index.html">Discard</a>
            </div>
        </div>
    </div>

    <div class="bounds circle--page circle--article">
        <div class="grid-70">
            <form id="my-form" class="circle--article--body" action="" method="POST">
                {% csrf_token %}
                {{ form.title }}
                {{ form.description }}
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                <div class="circle--project--positions">
                    <h2>Positions</h2>
                    <ul id="formset-ul" class="circle--group--list circle--clone--list">
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <li>
                                {{ form.title }}
                                {{ form.description }}
                                <a class="remove-position">Remove</a>
                            </li>

                        {% endfor %}
                    </ul>
                    <button id="add-position" class="circle--clone--add">Add Position</button>
                    <div id="empty-form" hidden=True>
                        {{ formset.empty_form.title }}
                        {{ formset.empty_form.description }}
                        <!-- {{ formset.empty_form.DELETE }} -->
                        <a class="remove-position">Remove</a>

                    </div>
                    <input class="button" type="submit" value="Save">
                </div>
            </form>
        </div>

        <div class="grid-25 grid-push-5">

            <div class="circle--secondary--module">
                <h3>Project Timeline</h3>
                {{ form.timeline }}
            </div>

            <div class="circle--secondary--module">
                <h3>Applicant Requirements</h3>
                {{ form.requirements }}
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <button onclick="window.location.href = '{% url 'accounts:change_password' %}';">change password</button>
    {% endif %}
    <script>
        const myForm = document.getElementById('my-form');
        const saveProject = document.getElementById('save-project')
        const formset_container = document.getElementById('formset-ul');
        const totalForms = document.getElementById('id_position_set-TOTAL_FORMS');
        const emptyForm = document.getElementById('empty-form').innerHTML;
        const addButton = document.getElementById('add-position');
        const removeButtons = document.querySelectorAll('.remove-position');
        const formRegex = RegExp(`__prefix__`, 'g');
        let formNumber = formset_container.querySelectorAll('li').length - 1;

        function addForm(e) {
            e.preventDefault();
            const newForm = document.createElement('li');
            newForm.innerHTML = emptyForm;
            formNumber++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, formNumber);
            formset_container.appendChild(newForm);
            totalForms.setAttribute('value', formNumber + 1);
        }

        function removeForm(e) {
            e.preventDefault();
            let form = e.target.parentElement;
            let deleteBox = form.querySelector("input[type='checkbox']");
            deleteBox.checked = true;
            form.style.display = 'none';
        }


        addButton.addEventListener('click', addForm);

        formset_container.addEventListener('click', (e) => {
            if (e.target.classList.contains('remove-position')) {
                removeForm(e);
            }
        })
        saveProject.addEventListener('click', () => {
            myForm.submit();
        })

    </script>
{% endblock %}